{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="jumbotron text-justify" style="height: 80vh; width: 100%;">
  <h1 class="display-2"> Best Books of 2020 <br></h1>
  <br>
  <h2 class="display-5 font-weight-light">The choice is yours. Vote for the best books of the year in the 12th Annual Goodreads Choice Awards, the only major book awards decided by readers.</h2>
  <br><br><br>
  <div class="text-center">
    <img src="/static/images/AC6B1951-34EB-4955-835D-03AB2D285E1E_4_5005_c.jpeg" alt="#">
  </div>
  <br><br><br>
  <div>
    <button class="btn btn-dark btn-block" active ">
      <h2><a href="{% url 'book_list' %}">Vote</a></h2>
    </button>
  </div>
</div>
{% endblock content %}